%footer.single-footer
  %nav
    %ul.clearfix
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "メルカリ利用規約", "#"
      %li
        = link_to "特定商取引に関する表記", "#"
  = link_to "#", class: "single-footer__logo" do
    =image_tag("logo_gray.svg")
  %p
    %small 
      © Mercari, Inc.