.single-container

  %header.single-header
    %h1.single-header__logo
      = link_to "#" do
        =image_tag("fmarket_logo_red.svg")
    %nav.single-header__progress
      %ol
        %li.single-header__progress__text{ id: "first" }
          会員情報
          .single-header__progress__round--red
        %li.single-header__progress__text--active
          電話番号認証
          .single-header__progress__round--red
        %li.single-header__progress__text
          お届け先住所入力
          .single-header__progress__round
        %li.single-header__progress__text
          支払い方法
          .single-header__progress__round
        %li.single-header__progress__text{ id: "end" }
          完了
          .single-header__progress__round
          
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__title
        電話番号の確認
      %form.single-main__container__form{action: "####", method: "POST", novalidate: "novalidate"}
        %input{name: "__csrf_value", type: "hidden", value: "###"}
        .single-main__container__form__frame
          .form-group
            %label{for: "phone_number"}
              携帯電話の番号
            %input.form-group__input{name: "phone_number", placeholder: "携帯電話の番号を入力", type: "text", value: ""}
            %p.form-group__info
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

            %button.btn-default.btn-red{url: "new_address"} 次へ進む

            %p.form-group__info
              ※電話番号は本人確認や不正防止のために利用します。他のユーザーに公開されることはありません。

            %p.form-group__text--right--blue
              電話番号の確認が必要な理由＞

  = render "/registration/registration_footer"