.main-section
  .header
    -if user_signed_in?
      =render "home/header_login"
    -else
      =render "home/header_unlogin"
  .main-contents.clearfix
    .side-search
      .side-search__sort
        並び替え
      .side-search__details
        詳細検索      
    .search-result
      .search-result--title
        #{@keyword} の検索結果
      %ul.search-result--products__list
        %li.product
          %figucaption.product__text
            商品名
          .product__thumbnail
            .product__thumbnail--label
              ¥2000
            .product__thumbnail--image
              = image_tag "no_image.png"
=render "home/footer"
