.single-container
  %header.single-header
    %h1.single-header__logo--center
      = link_to "#" do
        =image_tag("fmarket_logo_red.svg")
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__title
        新規会員登録
      .step0
        .step0__contents
          =link_to new_user_registration_path, class: "btn-def--mail","data-turbolinks": false do
            %i.far.fa-envelope
            %span<>
            メールアドレスで登録する
          =link_to user_facebook_omniauth_authorize_path, method: :post, class: "btn-def--facebook" do
            %i.fab.fa-facebook-f
            %span<>
            Facebookで登録する
          =link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn-def--google" do
            %i.fab.fa-google
            %span<>
            Googleで登録する
          =link_to user_twitter_omniauth_authorize_path, method: :post, class: "btn-def--twitter" do
            %i.fab.fa-twitter
            %span<>
            Twitterで登録する
  = render "registration_footer"