.side-content
%nav.mypage-nav
  %ul.mypage-nav-list
    %li
      =link_to user_path(current_user.id), class: "mypage-nav-list-item" do
        マイページ
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        お知らせ
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        やることリスト
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        いいね！一覧
        %i.icon-arrow-right
    %li
      =link_to new_product_path, class: "mypage-nav-list-item" do
        出品する
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        出品した商品 - 出品中
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        出品した商品 - 取引中
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        出品した商品 - 売却済み
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        購入した商品 - 取引中
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        購入した商品 - 過去の取引
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        ニュース一覧
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        評価一覧
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        ガイド
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-item" do
        お問い合わせ
        %i.icon-arrow-right
  
  %h3.mypage-nav-head-setting 設定
  %ul.mypage-nav-list-setting
    %li
      =link_to profile_user_path, class: "mypage-nav-list-setting-item" do
        プロフィール
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-setting-item" do
        発送元・お届け先住所変更
        %i.icon-arrow-right
    %li
      =link_to card_path, class: "mypage-nav-list-setting-item" do
        支払い方法
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-setting-item" do
        メール/パスワード
        %i.icon-arrow-right
    %li
      =link_to edit_user_path, class: "mypage-nav-list-setting-item" do
        本人情報
        %i.icon-arrow-right
    %li
      =link_to "#", class: "mypage-nav-list-setting-item" do
        電話番号の確認
        %i.icon-arrow-right
    %li
      =link_to destroy_user_session_path, class: "mypage-nav-list-setting-item" do
        ログアウト
        %i.icon-arrow-right
