.ready-page
  .ready-page__main
    .ready-page__main__text
      = image_tag "car.jpeg", height: "300", width: "300"
      %h1
        工事中
      %p
        施工終了予定日
      %br
        2020/03/14
        
    .ready-page__main__return
      = link_to "トップページへ戻る",root_path,class:"ready-page__main__return__to__toppage"       
