.header
  -if user_signed_in?
    =render "home/header_login"
  -else
    =render "home/header_unlogin"
.ready-page
  .ready-page__main
    .ready-page__main__text
      
      %h1.comingsoon
        coming soon...

      %p.schedule
        Scheduled to end
      
        2020/03/14
    .loader Loading...
  %h2.teamname
    Team-c 60
  %h3.sorry
    Sorry!
    .ready-page__main__return
      = link_to "Go to top",root_path,class:"ready-page__main__return__to__toppage"      
    
= render "products/bottom"
=render "home/footer"
