.footer
  .footer__contents
    .footer__contents__about
      %h2.footer__contents__about__title Fmarketについて
      %ul.footer__contents__about__item
        %li
          =link_to "会社概要（運営会社）", "/about/corporate",{class: "footer-item"}
        %li
          =link_to "採用情報", "/about/recruit",{class: "footer-item"}
        %li
          =link_to "プレスリリース", "/about/press",{class: "footer-item"}
        %li
          =link_to "公式ブログ", "/about/blog",{class: "footer-item"}
        %li
          =link_to "エフマロゴ利用ガイドライン", "/about/logo",{class: "footer-item"}
      =link_to "/twitter" do
        %i.fab.fa-twitter.twitter
      =link_to "/facebook" do
        %i.fab.fa-facebook-square.facebook 
    .footer__contents__help
      %h2.footer__contents__help__title ヘルプ＆ガイド
      %ul.footer__contents__help__item
        %li
          =link_to "エフマガイド", "/help/mercari-guide",{class: "footer-item"}
        %li
          =link_to "らくらくエフマ便", "/help/easy-mercari-delivery",{class: "footer-item"}
        %li
          =link_to "ゆうゆうエフマ便", "/help/u2-mercari-delivery",{class: "footer-item"}
        %li
          =link_to "大型エフマ便", "/help/big-mercari-delivery",{class: "footer-item"}
        %li
          =link_to "車体取引ガイド", "/help/body-trading-guide",{class: "footer-item"}
        %li
          =link_to "エフマあんしん・あんぜん宣言！", "/help/declair",{class: "footer-item"}
        %li
          =link_to "偽ブランド品撲滅への取り組み", "/help/fake",{class: "footer-item"}
        %li
          =link_to "エフマボックス", "/help/mercari-box",{class: "footer-item"}
    .footer__contents__privacy
      %h2.footer__contents__privacy__title プライバシーと利用規約
      .footer__contents__privacy--1
        %ul.footer__contents__privacy--1__item1
          %li
            =link_to "プライバシーポリシー", "/privacy/poricy",{class: "footer-item"}
          %li
            =link_to "エフマ利用規約", "/privacy/rule",{class: "footer-item"}
          %li
            =link_to "あんしんスマホサポート制度に関する利用特約", "/privacy/rule-smartsupport",{class: "footer-item"}
          %li
            =link_to "コンプライアンスポリシー", "/privacy/complaiance",{class: "footer-item"}
        .footer__contents__privacy--2
          %ul.footer__contents__privacy--2__item2
            %li
              =link_to "個人データの安全管理に係る基本方針", "/privacy/personaldata",{class: "footer-item"}
            %li
              =link_to "特定商取引に関する表記", "/privacy/notation-specific-item",{class: "footer-item"}
            %li
              =link_to "資金決済法に基づく表示", "/privacy/payment",{class: "footer-item"}
            %li
              =link_to "法令順守と犯罪抑止のために", "/privacy/legal",{class: "footer-item"}
    .footer__contents__region
      %h2.footer__contents__region__title 国
      %ul.footer__contents__region__item
        %li
          =link_to "日本", "/region/japan",{class: "footer-item"}
        %li
          =link_to "United States", "/region/us",{class: "footer-item"}
  .footer__corporate
    =link_to image_tag("logo_white.svg",width:"40",height:"36"), root_path,{class: "footer-logo"}
    =link_to "Fmarket", root_path,{class: "footer-logo"}
    %span.corporate © Teach expert 60 TeamC, Inc.