# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e05bba805050a6b9b59616b0b50dffd532fa1facb9309b10c307661d5689a7f5b1f2d246fa3ba75b5f331666abddb7cd20bb5aa3ce9301a5a9d07a0175779cdd

test:
  secret_key_base: 8abae263742a3c5386f1d2f7bd2ac5d7b35bad8edf6548c8a3f9c4f96634c7226e1e6035e5dfcc4cd8774435f2d5f2c36a26bdddef413aeecc562740d817eb58

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  aws_access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
  aws_secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
