$Background: rgb(245,245,245);  //メイン背景色
$Lightgray: #fafafa;  //写真の裏とか
$White: #ffffff;  //ただの真っ白(Just white)
$Blue: #0099e8;  //青い文字の色
$Red: #ea352d;  //赤い文字の色
$link-blue: #51ceff; //ヘッダーで使ってるホバー色
$header-icon: rgb(255, 255, 255); //ヘッダーアイコン色
$header-icon-top: rgb(134, 127, 127);
$header-border: rgb(204, 204, 204);//ヘッダーのボックスのボーダー
$header-border-2:rgb(240, 240, 240);
$header-menu-red: rgb(234, 53, 45);//新規会員登録
$header-menu-gley: rgb(245, 245, 245);//ヘッダーのメニュー灰部分