@import "mixin";

.footer{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
  &__contents{
    display: flex;
    margin:0px 190px;
    width:1020px;
    &__about{
      @include footer-contents;
      &__title{
        @include footer-title;
      }
      &__item{
        @include footer-items;
      }
    }
    &__help{
      @include footer-contents;
      &__title{
        @include footer-title;
      }
      &__item{
        @include footer-items;
        width:200px;
      }
    }
    &__privacy{
      @include footer-contents;
      &__title{
        @include footer-title;
      }
      &--1{
        vertical-align: top;
        display: flex;
        width:400px;
        &__item1{
          @include footer-items;
        }
        &__item2{
          @include footer-items;
        }
      }
      &--2{
        padding-left: 10px;
        vertical-align: top;
        width:300px;
        &__item1{
          @include footer-items;
       }
       &__item2{
          @include footer-items;
       }
      }
    }
    &__region{
      @include footer-contents;
      &__title{
        @include footer-title;
      }
      &__item{
        @include footer-items;
      }
    }
  }
  &__corporate{
    width: 1020px;
    margin: 30px auto 20px;
  }
  li{
  margin-top:10px;
  }
}

.footer-item{
  color: rgb(255, 255, 255);
  opacity: 0.7;
  text-decoration: none;
}

.twitter{
  color:white;
  font-size:2em;
  margin-top:20px;
  margin-right:20px;
}

.facebook{
  color:white;
  font-size:2em;
}



.footer-logo{
  color: white;
  font-size:30px;
  text-decoration: none;
}

.corporate{
  display: inline-block;
  width: 100%;
  text-align: center;
}
