@import "mixin";

.header{
  background-color: rgb(255, 255, 255);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.18);
  position: relative;
  z-index: 3;
  &__contents{
    width: 1020px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    &__top{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      &__form{
        position: relative;
        width: 100%;
      }
    }
    &__below{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 8px;
      &__search{
        display: flex;
        margin-left: -3px;
        height: 44px;
        line-height:44px;
        &__category{
          @include button;
          padding-right:10px;
          transition: all 0.3s ease-out 0s;
          &:hover .search__category{
            color:$link-blue;
          }
        }
        &__brand{
          @include button;
          padding-left:10px;
          transition: all 0.3s ease-out 0s;
          &:hover .search__brands{
            color:$link-blue;
          }
        }
      }
      &__registration{
        display: flex;
        &__new{
          text-align: center;
          @include button;
          margin-right:10px;
        }
        &__login{
          text-align: center;
          @include button;
          width:76.75px;
        }
      }
      &__personal{
        display: flex;
        position: relative;
        &__likes{
          @include login-list;
          &:hover .likes{
            color:$link-blue;
          }
          &:hover .login__icon{
            color:$link-blue;
          }
        }
        &__notification{
          @include login-list;
          &:hover .notification{
            color:$link-blue;
          }
          &:hover .login__icon{
            color:$link-blue;
          }
        }
        &__todo{
          @include login-list;
          &:hover .todo{
            color:$link-blue;
          }
          &:hover .login__icon{
            color:$link-blue;
          }
        }
        &__mypage{
          @include login-list;
          &:hover .mypage{
            color:$link-blue;
          }
          &:hover .login__icon{
            color:$link-blue;
          }
        }
      }
    }
  }
}

.form{
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.search-button{
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
}

.icon__search{
  max-width: 100%;
  max-height: 100%;
  color: rgb(34, 34, 34);
  height: 14px;
  margin: 10px 10px;
  width: 14px;
}


.icon{
  max-width: 100%;
  max-height: 100%;
  height: 12px;
  margin-right: 4px;
  color:#ea352d;
}

.login__icon{
  max-width: 100%;
  max-height: 100%;
  height: 12px;
  margin-right: 4px;
  color:rgb(134, 127, 127);

}


.search__category{
  @include header-item;
  font-weight: 600;
}

.search__brands{
  @include header-item;
  font-weight: 600;
}

.registration{
  background-color:$header-menu-red;
  color:$White;
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color:$header-menu-red;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}

.login{
  background-color:$White;
  color: $Blue;
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: $Blue;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  &:hover{
    background-color:$link-blue;
    color:$White;
  }
}

.likes{
  @include header-item;
}


.notification{
  @include header-item;
}

.todo{
  @include header-item;
}

.mypage{
  @include header-item;  
}