@import "mixin";

.header{
  background-color: rgb(255, 255, 255);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.18);
  position: relative;
  z-index: 3;
  &__contents{
    width: 1020px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    &__top{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      &__form{
        position: relative;
        width: 100%;
      }
    }
    &__below{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 8px;
      &__search{
        display: flex;
        margin-left: -3px;
        height: 44px;
        line-height:44px;
        &__category{
          @include button;
          padding-right:10px;
          transition: all 0.3s ease-out 0s;
          display: flex;
          &:hover .search__category{
            color:$link-blue;
          }

          // プルダウンメニュー（カテゴリ）
          > ul {
            width: 250px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            > li {
              font-size: 12px;
              width: 250px;
              flex: 1;
              &:not(:last-child) {
                margin-right: 5px;
              }
            }
          }
          .list--name {
            color: black;
            text-decoration: none;
            display: block;
            transition: 0.1s;
            &:hover {
              text-decoration: none;
            }
          }
          .level1, .level2 {
            width: 250px;
            position: absolute;
            z-index: 9;
            border-right: 1px solid $header-border;
            border-bottom: 1px solid $header-border;
            border-left: 1px solid $header-border;
            .list--name {
              padding: 0 15px 0 15px;
              background: $White;
              line-height: 4.5;
            }
          }
          .level1 {
            display: none;
            top: 100%;
            left: 0;
            .active {
              color: lighten(black, 95%);
              background: $header-menu-red;
            }
          }
          .level2 {
            top: 0;
            left: 100%;
            height: 703px;
            background: $White;
            .active {
              color: black;
              background: $header-menu-gley;
            }
            .list--name {
              line-height: 2.0;
            }
          }
       }
        &__brand{
          @include button;
          padding-left:10px;
          transition: all 0.3s ease-out 0s;
          &:hover .search__brands{
            color:$link-blue;
          }
        }
      }
      &__registration{
        display: flex;
        &__new{
          text-align: center;
          @include button;
          margin-right:10px;
        }
        &__login{
          text-align: center;
          @include button;
          width:76.75px;
        }
      }
      &__personal{
        display: flex;
        position: relative;
        &__likes{
          @include login-list;
          &:hover .likes{
            color:$link-blue;
          }
          &:hover .login__icon{
            color:$link-blue;
          }
        }
        &__notification{
          @include login-list;
          &:hover .notification{
            color:$link-blue;
          }
          &:hover .login__icon{
            color:$link-blue;
          }
        }
        &__todo{
          @include login-list;
          &:hover .todo{
            color:$link-blue;
          }
          &:hover .login__icon{
            color:$link-blue;
          }
        }
        &__mypage{
          @include login-list;
          &:hover .mypage{
            color:$link-blue;
          }
          &:hover .login__icon{
            color:$link-blue;
          }
        }
      }
    }
  }
}

.form{
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.search-button{
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
}

.icon__search{
  max-width: 100%;
  max-height: 100%;
  color: rgb(34, 34, 34);
  height: 14px;
  margin: 10px 10px;
  width: 14px;
}


.icon{
  max-width: 100%;
  max-height: 100%;
  height: 12px;
  margin-right: 4px;
  color:#ea352d;
  line-height: 44px;
}

.login__icon{
  max-width: 100%;
  max-height: 100%;
  height: 12px;
  margin-right: 4px;
  color:rgb(134, 127, 127);

}

.search__category{
  @include header-item;
  font-weight: 600;
  line-height: 44px;
  margin-left: 4px;
}

.search__brands{
  @include header-item;
  font-weight: 600;
}

.registration{
  background-color:$header-menu-red;
  color:$White;
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color:$header-menu-red;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}

.login{
  background-color:$White;
  color: $Blue;
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: $Blue;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  &:hover{
    background-color:$link-blue;
    color:$White;
  }
}

.likes{
  @include header-item;
}

.notification{
  @include header-item;
}

.todo{
  @include header-item;
}

.mypage{
  @include header-item;  
}