@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

@mixin button{
  cursor:pointer;
  position: relative;
  z-index: 3;
}

@mixin login-list{
  height: 44px;
  position: relative;
  padding: 0px 7px;
  flex:auto;
  transition: all 0.3s ease-out 0s;
}

@mixin header-item{
  text-decoration: none;
  color:black;
  font-size:14px;
  line-height: 36px;
  white-space: nowrap;
}

@mixin footer-contents{
  width: 1020px;
  margin-top: 18px;
  vertical-align: top;
  padding: 0px 40px 0px 0px;
}

@mixin footer-title{
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
}

@mixin footer-items{
  list-style: none;
  line-height: 1.4em;
  margin: 16px 0px 0px;
  display: block;
}
@mixin product-buy{
  height: 48px;
  line-height: 48px;
  display: block;
  margin: 16px 0 0;
  color: $White;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
@mixin product-button{
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  padding: 8px 16px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 40px;
  color: #333;
}
@mixin form-caution{
  display: inline-block;
  background-color:red;
  color: white;
  font-size: 11px;
  margin-left:8px;
  padding:2px 4px;
  border-radius: 2px;
  vertical-align: top;
  font-weight: bold;
}
@mixin angle-down{
  right: 12px;
  top: 50%;
  z-index: 2;
  color: #888;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@mixin select-wrap{
  margin: 8px 0 0;
  background: #fff;
  position: relative;
}
@mixin select-wrap-box{
  width: 100%;
  height: 48px;
  border: 1px solid #ccc;
  position: relative;
  background: 0;
  -webkit-appearance: none;
  padding: 0 16px;
}

@mixin nav-ul {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@mixin nav-li {
  font-size: 12px;
  width: 250px;
  flex: 1;
  &:not(:last-child) {
    margin-right: 5px;
  }
}

@mixin nav-li--name {
  color: black;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  &:hover {
    text-decoration: none;
  }
}

@mixin nav-level--common {
  width: 250px;
  z-index: 9;
  border-right: 1px solid $header-border;
  border-bottom: 1px solid $header-border;
  border-left: 1px solid $header-border;
}

@mixin nav-list--name {
  padding: 0 15px 0 15px;
  background: $White;
  line-height: 4.5;
}

@mixin nav-level--active {
  color: lighten(black, 95%);
  background: $header-menu-red;
}