@import "color";
.edit-main__content {
  width: 700px;
  height: 1211.840px;
  float: right;
  position: relative;
  background-color: #fff;
  &--title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #f5f5f5;
  }
  &--introduction {
    height: 150px;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    line-height: 1.5;

    &-append {
      padding-top: 10px;
      float: right;
      color: $Blue;
      cursor: pointer;
    }
  }
  .form-main__content {
    padding: 0 50px 0 50px;
  }
    .form__info {
      padding-top: 40px;
      float: right;
      color: $Blue;
      cursor: pointer;
    }
  }
  .clearfix:after {
    content: "";
    clear: both;
    display: block;
  }
.main {
  margin: 40px auto 0px;
  width: 71%;
  display:flex; 
  .main__mypage {
    width: calc(100% - 26% - 40px);
    margin:0 auto;
    height: 75%;
    .user {
      width: 100%;
      height: 200px;
      background-image: image-url("free-resources-mac-photos-20.jpg");
      background-position: center;
      background-size: cover;
      &__link {
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color:rgb(255, 255, 255);
        .user__img {
          width: 60px;
          height: 60px;
          margin-top: 30px;
          border-radius: 50%;
        }
        .user__name {
          margin: 8px;
          font-size: 16px;
          width: calc(100%-16px);
          text-align: center;
          font-weight: bold;
        }
        .user__status {
          margin: 8px 0px 0px;
          text-align: center;
          font-size:14px;
          .user__likes {
            display: inline-block;
          }
          .user__items {
            display: inline-block;
            margin: 0px 0px 0px 8px;
          }
        }
      }
    }
    .tab-box{
      width: 100%;
      &__container{
        .tabs{
          height: 74px;
          list-style: none;
          overflow: hidden;
          &__list{
            width: 50%;
            background-color: #eee;
            border-bottom: 2px solid #eee;
            float: left;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            &--active{
              border-bottom: none;
              border-top: 2px solid red;
              background-color: white;
            }
            &__body{
              &__link{
                font-size: 16px;
                display: block;
                color: rgb(51,51,51);
                line-height: 72px;
                font-weight: bold;
                text-decoration: none;
              }
            }
          }
        }
        .contents{
          width: 100%;
          &__lists{
            background-color: white;
            &__list{
              border-bottom: 1px solid #eee;
              &__link{
                display: block;
                padding: 18px;
                text-decoration: none;
                color: rgb(136,136,136);
                &:hover{
                  background-color: rgb(246,246,246);
                }
                &__image{
                  float: left;
                  width: 48px;
                  margin: 0;
                  background-color: #eee;
                }
              }
            }
          }
        }
      }
    }
  }
}
