@import "mixin";
.exhibit__page {
  width: 100%;
  background-color: #EEEEEE;
  &__header {
    height: 128px;
    text-align: center;
    .exhibit__logo__link {
      display: block;
      width: 13%;
      margin: 0 auto;
      padding-top: 32px;
    }
    .exhibit__logo__img{
      height: 49px;
      width: 185px;
    }
  }
  &__main {
    background-color: #EEEEEE;
    width: 700px;
    display: block;
    margin: 0 auto;
    &__contents {
      background-color:white;
      width: 100%;
      margin: 0 auto;
      &__message {
        font-size: 22px;
        display: block;
        padding: 32px 16px;
        text-align: center;
        font-weight: bold;
      }
      .form-content {
        border-top: 1px solid #EEEEEE;
        .img-form {
          padding:40px;
          border-bottom: 1px solid #EEEEEE;
          .img__upload__text {
            font-size:16px;
            color:#333;
            .form--caution {
              @include form-caution;
            }
          }
          .img__upload__comment {
            font-size: 12px;
            margin:8px 0 0;
          }
          .dropbox {
            &__img {
              display: block;
              text-align: center;
              border: 1px dashed lightgray;
              min-width: 115px;
              height: 160px;
              background: #f5f5f5;
              margin-top: 5px;
              p {
                font-size: 13px;
                margin-top: 55px;
              }
              input[type="file"] {
                display: none;
              }
            }
          }
          .preview {
            margin: 0 2px 10px 2px;
            width: 120px;
            height: auto;
            padding: 1rem 0 0;
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid lightgray;
            background: #f5f5f5;
            &__img {
              width: 100%;
              height: 78px;
              img {
                width: 100%;
                max-height: 70px;
                object-fit: cover;
                border-top: rgb(160, 160, 160) solid 1px;
                border-bottom: rgb(160, 160, 160) solid 1px;
              }
            }
            &__delete {
              display: flex;
              justify-content: space-around;
              padding-bottom: 5px;
              &--button {
                cursor: pointer;
                text-align: center;
                width: 45%;
                line-height: 32px;
                height: 30px;
                margin-bottom: 1px;
                background-color: #0099e8;
                border-radius: 5px;
                &:hover {
                  opacity: 0.6;
                }
                p {
                  display: inline-block;
                  color: #fff;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
        // 商品名
        .sell--content {
          height: 300px;
          padding:40px;
          border-bottom: 1px solid #EEEEEE;
          &__name {
            &__name {
              font-size:14px;
              color:#333;
              .form--caution {
                @include form-caution;
              }
            }
            .product-name__text__field {
              width:100%;
              height:50px;
              border-radius: 4px;
              border: 1px solid #ccc;
            }
          }
          &__description {
            margin-top:40px;
            &__description {
              font-size:14px;
              color:#333;
              .form--caution {
                @include form-caution;
              }
            }
            .sell--content__text__area {
              width:100%;
              height:150px;
              border: 1px solid #ccc;
              resize: none;
            }
          }
        }
        // 商品詳細
        .product-details {
          height: 100%;
          padding:40px;
          border-bottom: 1px solid #EEEEEE;
          display: flex;
          justify-content: space-between;
          &__name {
            font-size: 14px;
            color: #888;
            display: inline;
          }
          &__form {
            width: 65%;
            &__category {
              &__name {
                margin-top:30px;
                .form--caution {
                  @include form-caution;
                }
                .form-any {
                  display: inline-block;
                  background-color:#ccc;
                  color: white;
                  font-size: 11px;
                  margin-left:8px;
                  padding:2px 4px;
                  border-radius: 2px;
                  vertical-align: top;
                  font-weight: bold;
                }
              }
              .select--wrap{
                @include select-wrap;
                &-cat1__default-category1{
                  @include select-wrap-box;
                }
                &-cat2__default-category2{
                  @include select-wrap-box;
                }
                  .fa-angle-down {
                  position: absolute;
                  @include angle-down;
                }
                &-cat3__default-category3{
                  @include select-wrap-box;
                }
              }
            }
            &__brand {
              margin-top:40px;

              &__name {
                .form--caution {
                  display: inline-block;
                  background-color: #aaa;
                  color: white;
                  font-size: 11px;
                  margin-left:8px;
                  padding:2px 4px;
                  border-radius: 2px;
                  vertical-align: top;
                  font-weight: bold;
                }
              }
              .select--wrap{
                @include select-wrap;
                &__default{
                  @include select-wrap-box;
                }
                  .fa-angle-down {
                    position: absolute;
                    @include angle-down;
                }     
              }        
            }
            &__size {
              margin-top:40px;
              &__name {
                .form--caution {
                  @include form-caution;
                }
              }
              .select--wrap{
                @include select-wrap;
                &__default{
                  @include select-wrap-box;
                }
                  .fa-angle-down {
                    position: absolute;
                    @include angle-down;
                }     
              }        
            }
            &__status {
              margin-top:40px;
              &__name {
                .form--caution {
                  @include form-caution;
                }
              }
              .select--wrap{
                @include select-wrap;
                &__default{
                  @include select-wrap-box;
                }
                  .fa-angle-down {
                    position: absolute;
                    @include angle-down;
                }
              }
            }
          }
        }
        // 配送について
        .delivery-form {
          height: 350px;
          padding:40px;
          border-bottom: 1px solid #EEEEEE;
          &__about__delivery {
            font-size: 14px;
            color: #888;
            display:inline;
          }
          &__box {
            float: right;
            width: 65%;
            &__top {
              .delivery-form__box__top__name {
                .form--caution {
                  @include form-caution;
                }
              }
              .select--wrap{
                @include select-wrap;
                &__default{
                  @include select-wrap-box;
                }
                .fa-angle-down {
                  position: absolute;
                  @include angle-down;
                }
              }
            }
            &__middle {
              .delivery-form__box__top__name {
                margin-top: 40px;
                .form--caution {
                  @include form-caution;
                }
              }
              .select--wrap{
                @include select-wrap;
                &__default{
                  @include select-wrap-box;
                }
                  .fa-angle-down {
                    position: absolute;
                    @include angle-down;
                }
              }
            }
            &__bottom {
              .delivery-form__box__top__name {
                margin-top: 40px;
                .form--caution {
                  @include form-caution;
                }
              }
              .select--wrap{
                @include select-wrap;
                &__default{
                  @include select-wrap-box;
                  }
                  .fa-angle-down {
                    position: absolute;
                    @include angle-down;
                }
              }
            }
          }
        }
        // 販売価格
        .product-price {
          height: 200px; 
          padding:40px;
          border-bottom: 1px solid #EEEEEE;
          &__form__name {
            font-size:14px;
            color:#888;
            display:inline;
          }
          &__form {
            float:right;
            width:65%;
            &__left {
              width:50%;
              float:left;
              padding: 30px 0;
              .form--caution {
                @include form-caution;
              }
            }
            &__right {
              float: right;
              width:50%;
              display: inline;
            }
            .input--price {
              float: right;
              &__default{
                border:1px solid #ccc;
                height:50px;
                border-radius: 5px; 
                text-align: right;
                padding-right:10px;
              }
            }
          }
        }
        .submit-button {
          width:88%;
          padding:40px;
          &__text {
            font-size: 14px;
          }
          .btn--red {
            margin: 40px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            text-align: center;
          }
          a.btn--gray {
            display: block;
            line-height: 48px;
            font-size: 14px;
            width: 45%;
            text-align: center;
            text-decoration: none;
            margin: 24px auto 0px;
            color: white;
            background-color:#AAAAAA;
          }
        }
      }
    }
  }
}
.exhibit-page__footer {
  width: 100%;
  background-color: #EEEEEE;
  &__content {
    width: 30%;
    margin:0 auto; 
    padding: 40px 0px;
    &__main {
      .exhibit-page__footer__lists {
        font-size:12px;
        .exhibit-page__footer__list {
          display:inline-block;
          text-align: center;
          width: 32%;
          color:black;
        }
      }
    }
    .exhibit-page__footer__link {
      display:block;
      padding-top:30px;
      height:90px;
      width:90px;
      margin:0 auto;
    }
    .exhibit-page__footer__copyright {
      font-size: 12px;
      text-align: center;
      color:black;
    }
  }
}
