.exhibit__page {
  width: 100%;
  background-color: #EEEEEE;

  &__header {
    height: 128px;
    text-align: center;

    .exhibit__logo__link {
      display: block;
      width: 13%;
      margin: 0 auto;
      padding-top: 32px;
      
    }
    .exhibit__logo__img{
      height: 49px;
      width: 185px;
    }
  }

  &__main {
    background-color: #EEEEEE;
    width: 700px;
    display: block;
    margin: 0 auto;
    &__contents {
      background-color:white;
      width: 100%;
      margin: 0 auto;

      &__message {
        font-size: 22px;
        display: block;
        padding: 32px 16px;
        text-align: center;
        font-weight: bold;
      }
      .form-content {
        border-top: 1px solid #EEEEEE;

        .img-form {
          padding:40px;
          border-bottom: 1px solid #EEEEEE;
          
          .img__upload__text {
            font-size:16px;
            color:#333;

            .form--caution {
              display: inline-block;
              background:red;
              color: white;
              font-size: 11px;
              margin-left:8px;
              padding:2px 4px;
              border-radius: 2px;
              vertical-align: top;
              font-weight: bold;
            }
          }
          
          .img__upload__comment {
            font-size: 12px;
            margin:8px 0 0;
          }

          .preview-area{
            margin:16px auto 0;
            
            .product-image-list{
              display:flex;
              flex-wrap:wrap;
              width: 615px;

              .product-uploaded{
                width:114px;
                height:162px;
                margin:0 6px 6px 0;
                background:#f5f5f5;
                text-align:center;
              
                &__img {
                  width:114px;
                  height:114px;
                  object-fit: contain;
                }
              
                &__delete {
                  text-decoration: none;
                  color: dodgerblue;
                  font-size: 20px;
                  padding: 3px;
                  border: 2px solid dodgerblue;
                  border-radius: 4px;
                  cursor: pointer;

                  &:hover{
                    opacity: 0.7;
                  }
                }
              }
            }

            .upload-area{
              border:1px dashed #ccc;
              margin:0 6px 6px 0;
              cursor: pointer;
              width:100%;
              height:162px;
              background:#f5f5f5;
              position:relative;

              &__dropbox{
                height:162px;

                input {
                  position: absolute;
                  display:block;
                  width:100%;
                  height:100%;
                  opacity: 0;
                  top: 0;
                  right: 0;
                  z-index: 10;
                }

                p {
                  word-wrap:break-word;
                  text-align:center;
                  position: absolute;
                  top: 60px;
                  left: 5%;
                  right: 5%;
                }
              }
            } 
          }
          .preview-reset{
            margin-top:15px;
            font-size:12px;
            cursor: pointer;
            border: 2px solid #888;
            border-radius: 2px;
            
          }
        }
        .sell--content {
          height: 300px;
          padding:40px;
          border-bottom: 1px solid #EEEEEE;
          &__name {

            &__name {
              font-size:14px;
              color:#333;
              
              .form--caution {
                display: inline-block;
                background-color:red;
                color: white;
                font-size: 11px;
                margin-left:8px;
                padding:2px 4px;
                border-radius: 2px;
                vertical-align: top;
                font-weight: bold;
              }
            }
            .product-name__text__field {
              width:100%;
              height:50px;
              border-radius: 4px;
              border: 1px solid #ccc;
            }
          }
          &__description {
            margin-top:40px;

            &__description {
              font-size:14px;
              color:#333;

              .form--caution {
                display: inline-block;
                background-color:red;
                color: white;
                font-size: 11px;
                margin-left:8px;
                padding:2px 4px;
                border-radius: 2px;
                vertical-align: top;
                font-weight: bold;
              }
            }
            .sell--content__text__area {
              width:100%;
              height:150px;
              border: 1px solid #ccc;
              resize: none;
            }
          }
        }
        // 商品詳細
        .product-details {
          height: 100%;
          padding:40px;
          border-bottom: 1px solid #EEEEEE;
          display: flex;
          justify-content: space-between;

          &__name {
            font-size: 14px;
            color: #888;
            display: inline;
          }
          &__form {
            width: 65%;
            
            &__category {

              &__name {
                margin-top:30px;

                .form--caution {
                  display: inline-block;
                  background-color:red;
                  color: white;
                  font-size: 11px;
                  margin-left:8px;
                  padding:2px 4px;
                  border-radius: 2px;
                  vertical-align: top;
                  font-weight: bold;
                }
                .form-any {
                  display: inline-block;
                  background-color:#ccc;
                  color: white;
                  font-size: 11px;
                  margin-left:8px;
                  padding:2px 4px;
                  border-radius: 2px;
                  vertical-align: top;
                  font-weight: bold;
                }
              }
              .select--wrap{
                margin: 8px 0 0;
                background: #fff;
                position: relative;
                &-cat2__default-category2{
                  width: 100%;
                  height: 48px;
                  border: 1px solid #ccc;
                  position: relative;
                  background: 0;
                  -webkit-appearance: none;
                  padding: 0 16px;
                }
                  .fa-angle-down {
                  
                  position: absolute;
                  right: 12px;
                  top: 50%;
                  z-index: 2;
                  color: #888;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                }
                
                &-cat3__default-category3{
                  width: 100%;
                  height: 48px;
                  border: 1px solid #ccc;
                  position: relative;
                  background: 0;
                  -webkit-appearance: none;
                  padding: 0 16px;
                }
              }
              // #item_category_id{
              //   height:50px;
              //   width:100%;
              //   background-color:white;
              // }
              // #item_size_id {
              //   height:50px;
              //   width:100%;
              //   background-color:white;
              // }
              // #item_brand {
              //   height:50px;
              //   width:100%;
              //   background-color:white;
              // }
            }
            &__status {
              margin-top:40px;

              &__name {

                .form--caution {
                  display: inline-block;
                  background-color:red;
                  color: white;
                  font-size: 11px;
                  margin-left:8px;
                  padding:2px 4px;
                  border-radius: 2px;
                  vertical-align: top;
                  font-weight: bold;
                }
              }
              .select--wrap{
                margin: 8px 0 0;
                background: #fff;
                position: relative;
                &__default{
                  width: 100%;
                  height: 48px;
                  border: 1px solid #ccc;
                  position: relative;
                  background: 0;
                  -webkit-appearance: none;
                  padding: 0 16px;
                }
                  .fa-angle-down {
                  
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    z-index: 2;
                    color: #888;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                  }
                
              }
              // #item_condition {
              //   height:50px;
              //   width:100%;
              //   background-color:white;
              // }
            }
          }
        }
        // 配送について
        .delivery-form {
          height: 350px;
          
          padding:40px;
          border-bottom: 1px solid #EEEEEE;

          &__about__delivery {
            font-size: 14px;
            color: #888;
            display:inline;
          }
          &__box {
            float: right;
            width: 65%;

            &__top {

              .delivery-form__box__top__name {

                .form--caution {
                  display: inline-block;
                  background-color:red;
                  color: white;
                  font-size: 11px;
                  margin-left:8px;
                  padding:2px 4px;
                  border-radius: 2px;
                  vertical-align: top;
                  font-weight: bold;
                }
              }
              .select--wrap{
                margin: 8px 0 0;
                background: #fff;
                position: relative;
                &__default{
                  width: 100%;
                  height: 48px;
                  border: 1px solid #ccc;
                  position: relative;
                  background: 0;
                  -webkit-appearance: none;
                  padding: 0 16px;
                }
                .fa-angle-down {
                  
                  position: absolute;
                  right: 12px;
                  top: 50%;
                  z-index: 2;
                  color: #888;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                }
              }
              // #item_delivery_attributes_delivery_cost {
              //   height:50px;
              //   width:100%;
              //   background-color:white;
              // }
            }
            &__middle {

              .delivery-form__box__top__name {
                margin-top: 40px;

                .form--caution {
                  display: inline-block;
                  background-color:red;
                  color: white;
                  font-size: 11px;
                  margin-left:8px;
                  padding:2px 4px;
                  border-radius: 2px;
                  vertical-align: top;
                  font-weight: bold;
                }
              }
              .select--wrap{
                margin: 8px 0 0;
                background: #fff;
                position: relative;
                &__default{
                  width: 100%;
                  height: 48px;
                  border: 1px solid #ccc;
                  position: relative;
                  background: 0;
                  -webkit-appearance: none;
                  padding: 0 16px;
                }
                  .fa-angle-down {
                  
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    z-index: 2;
                    color: #888;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                  }
                  
                
              }
              #item_delivery_attributes_delivery_ways {
                height:50px;
                width:100%;
                background-color:white;
              }
            }
            &__bottom {

              .delivery-form__box__top__name {
                margin-top: 40px;

                .form--caution {
                  display: inline-block;
                  background-color:red;
                  color: white;
                  font-size: 11px;
                  margin-left:8px;
                  padding:2px 4px;
                  border-radius: 2px;
                  vertical-align: top;
                  font-weight: bold;
                }
              }
              .select--wrap{
                margin: 8px 0 0;
                background: #fff;
                position: relative;
                &__default{
                  width: 100%;
                  height: 48px;
                  border: 1px solid #ccc;
                  position: relative;
                  background: 0;
                  -webkit-appearance: none;
                  padding: 0 16px;
                  }
                  .fa-angle-down {
                  
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    z-index: 2;
                    color: #888;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                  }
                
              }
              // #item_delivery_attributes_delivery_days {
              //   height:50px;
              //   width:100%;
              //   background-color:white;
              // }
            }
          }
        }
        // 販売価格
        .product-price {
          height: 200px;
          
          padding:40px;
          border-bottom: 1px solid #EEEEEE;

          &__form__name {
            font-size:14px;
            color:#888;
            display:inline;
          }

          &__form {
            float:right;
            width:65%;

            &__left {
              width:50%;
              float:left;
              padding: 30px 0;
              .form--caution {
                display: inline-block;
                background-color:red;
                color: white;
                font-size: 11px;
                margin-left:8px;
                padding:2px 4px;
                border-radius: 2px;
                vertical-align: top;
                font-weight: bold;
              }
              
            }

            &__right {
              float: right;
              width:50%;
              display: inline;

              
            }
            .input--price {
              float: right;
              &__default{
                border:1px solid #ccc;
                height:50px;
                border-radius: 5px;
                
                text-align: right;
                padding-right:10px;
              }
            }
          }
        }

        .submit-button {
          width:88%;
          padding:40px;

          &__text {
            font-size: 14px;
          }

          .btn--red {
            margin: 40px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            text-align: center;
          }

          a.btn--gray {
            display: block;
            line-height: 48px;
            font-size: 14px;
            width: 45%;
            text-align: center;
            text-decoration: none;
            margin: 24px auto 0px;
            color: white;
            background-color:#AAAAAA;
          }
        }
      }
    }
  }
}

.exhibit-page__footer {
  width: 100%;
  background-color: #EEEEEE;

  &__content {
    width: 30%;
    margin:0 auto; 
    padding: 40px 0px;

    &__main {

      .exhibit-page__footer__lists {
        font-size:12px;
        
        .exhibit-page__footer__list {
          display:inline-block;
          text-align: center;
          width: 32%;
          color:black;
        }
      }
    }

    .exhibit-page__footer__link {
      display:block;
      padding-top:30px;
      height:90px;
      width:90px;
      margin:0 auto;
    }
    
    .exhibit-page__footer__copyright {
      font-size: 12px;
      text-align: center;
      color:black;
    }
  }
}
