@import "mixin";
.product-details__page__main{
  width: 700px;
  padding: 24px 40px 40px;
  background-color: $White;
  margin: 40px auto 0;
  .product-name{
    font-size: 24px;
    text-align:center;
    word-wrap:break-word;
    line-height:1.4;
    font-family: inherit;
    font-weight: bold;
  }
  &__content{
    margin: 16px 0 0;
    @include clearfix;
    &__image{
      float:left;
      min-width: 300px;
      max-width: 300px;
      min-height: 200px;
      position: relative;
      margin: 0 auto;
      background-color: #fafafa;
      .owl-carousel{
        position: relative;
        .owl-stage-outer{
          position: relative;
          overflow: hidden;
          .owl-stage{
            position: relative;
            left: 0px;
            width: 900px;
            .owl.item{
              min-height:1px;
              float: left;
              width: 300px;
              &__inner{
                position: relative;
                width: 100%;
                height: 0;
                padding: 0 0 100%;

              }
              img{
                position: absolute;
                top: 0;
                left:0;
                bottom: 0;
                right: 0;
                width: 100%;
                margin: auto;
                max-height: 300px;
              }
            }
          }
        }
        .owl-dots{
          line-height: 0;
          font-size: 0;
          .owl-dot{
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 75px;
            height: 75px;
            opacity: 0.4;
            cursor: pointer;
            .owl-dot-inner{
              overflow: hidden;
              position: static;
              width: auto;
              height: 100%;
              padding: 0;
              pointer-events: none;
              img{
                height: 100%;
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
    }
  &__right{
      float: right;
      max-width: 300px;
      height: 375px;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      border-spacing: 0;
      .icon-good{
        float: left;
        color: #ef5185;
        width: 20px;
      }
      .icon-normal{
        float: left;
        color: #fba933;
        width: 20px;
      }
      .icon-bad{
        float: left;
        color: #6ab5d8;
        width: 20px;
      }
      th{
        vertical-align: middle;
        padding: 8px;
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        border: collapse;
        border: 1px solid #f5f5f5;
      }
      td {
        width: 61%;
        background: $White;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        .fa-angle-right {
          font-size: 17px;
          font-weight: bold;
        }
      }
    }
  }
  .product-details-page__price {
    clear: both;
    margin: 24px 0 0 ;
    text-align: center;
    .product-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
    }
    .product-tax {
      font-size: 10px;
    }
    .product-shipping-fee {
      display: inline-block;
      font-size: 16px;
    }
  }
  .product-details-delete__btn {
    background:#aaa;
    @include product-buy;
  }
  .product-details-edit__btn {
    background:$Red;
    @include product-buy;
  }
  .product-purchase__btn {
    background:$Red;
    cursor: not-allowed;
    @include product-buy;
  }
  .product-details-page-bottom{
    margin: 16px 0 0;
    @include clearfix;
    .product-button-left{
      float: left;
      .product-button-like{
       @include product-button; 
      }
      .product-button-report{
        @include product-button;
      }
    }
    .product-button-right{
      margin: 8px 0 0;
      float: right;
      font-size: 14px;
      vertical-align: middle;
      display: inline-block;
      border-radius: 40px;
      background: #f5f5f5;
    }
  }
}
.listening-item-change-box{
  background: $White;
  padding: 8px 16px;
  width: 700px;
  margin: 24px auto;
}
.product-detail-message{
  padding: 24px;
  .text_area-default{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  .text_area-default_btn{
    width: 100%;
    margin: 8px 0 0;
    font-size: 24px;
    text-align: center;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    height: 60px;
  }
}
.product-social-media-box{
  margin: 24px auto;
  padding: 40px 0 24px;
  width: 700px;
  background-color: $White;
  .text-center{
    text-align: center;
  }
    .social-media-box{
      margin: 20px 0 0;
      text-align: center;
      li{
        display:inline-block;
        margin: 0 8px 8px 0;
        vertical-align: middle;
        text-align: center;
        a{
          i{
            width: 44px;
            height: 44px;
            border-radius: 4px;
            line-height: 44px;
            margin-right: 3px;
          }
          .icon-facebook{
            color:$White;
            background-color:#385185;
            font-size: 22px;
          }
          .icon-twitter{
            color: $White;
            background-color:#5d9dc9;
            font-size: 24px;
          }
          .icon-google{
            color: $White;
            background:#aa262a;
            font-size: 24px;
          }
        }
      }
    }
}
