@import "color";

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
  height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  box-sizing: border-box;
  list-style: none;
}


.single-container{
  background-color: #F5F5F5;
  min-width: 768px;
}



/* ヘッダー大枠 */
.single-header {
  height:128px;
  width: 768px;
  margin: 0 auto;
  &__logo{
    width: 185px;
    padding: 40px 0 0 0;
    float: left;
    &--center{
      width: 185px;
      padding: 40px 0 0 0;
      margin: 0 auto;
    }
    &a, img{
      height: 49px;
      line-height: 49px;
    }  

  }

/* ヘッダーナビ */
  &__progress{
    padding: 40px 0 0 44px;
    width: 583px;
    box-sizing: border-box;
    float: left;

    & ol{
      list-style: none;
    }

    &__text{
      margin: 0 40px 0 0;
      position: relative;
      z-index: 1;
      display: inline-block;
      min-width: 40px;
      font-size: 12px;
      color: #888;
      text-align: center;

      &--active{
        font-weight: 600;
        color: #ea352d;
        margin: 0 40px 0 0;
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 40px;
        font-size: 12px;
        text-align: center;
      }
    }
/* ヘッダーのナビ丸 */
    &__round{
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      background: #ccc;
      border-radius: 50%;
      &--red{
        background: #ea352d;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
      }
    }
  }
}


/* li ナビの棒 */  
.single-header__progress__round::before {
  right: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
}


.single-header__progress__round::after, .single-header__progress__round--red::after {
  left: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
}

.single-header__progress__round--red::before {
  right: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 150%;
  height: 2px;
  background: #ea352d;
}

#first ::before {
  right: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #f5f5f5;
}


#end ::after {
  left: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #f5f5f5;
}



/* メイン全体 */
.single-main{
  height: calc(100% - 378px);

  &__container{
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    &__title{
      box-sizing: border-box;
      text-align: center;
      font-size: 22px;
      padding: 32px;
      font-weight: bold;
      border-bottom: thin solid #f5f5f5
    }
 
    &__form{
      padding: 24px 16px 40px;

      &__frame{
        max-width: 343px;
        margin: 0 auto;
      }
    }
  }
}

.form-group{
  margin-top: 32px;
  & label{
    font-weight: 600;
    display: inline-block;
    touch-action: manipulation;
  }
/* 必須 */ 
  &__require{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
  }
/* 任意 */ 
  &__optional{
    background: #CCCCCC;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
  }
/* 入力フォーム */
  &__input{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box;

/* ハーフサイズ入力フォーム */
    &--half {
      width: calc(50% - 6px);
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      box-sizing: border-box;
    }
  }
  &__info{
    margin-top: 8px;
    color: #888;
    line-height: 1.5;
  }

  &__text{
    margin-top: 8px;
    line-height: 1.5;
    color: #333;
    &--center{
      margin-top: 8px;
      line-height: 1.5;
      color: #333;
      text-align: center;
    }
    &--right{
      margin-top: 8px;
      line-height: 1.5;
      color: #333;
      text-align: right;

      &--blue {
        color: $Blue;
        float: right;
        margin-top: 10px;
      }
    } 
  }

}


.checkbox-default{
  margin-top: 16px;
}

.icon-check{
  border-color: transparent;
  opacity: 1;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  transition: all ease-out .3s;
  transform: translate(0, -50%);
}


.icon-arrow-bottom {

}

.icon-arrow-bottom {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
}





.select-wrap{
  position: relative;
  width: 76px;
  display: inline-block;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
}


.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.btn-red{
  margin-top: 24px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}






.single-footer{
  width: 456px;
  height: 220px;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  box-sizing: border-box;


  & nav{
    height: 12px;
  }
  & ol{
    width: 456px;
    height: 12px;
  }
  & li{
    display: inline-block;
    width: 148px;
    font-size: 12px;
  }
  & a{
    display: block;
    color: #333;
  }

 
  &__logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    display: block;
    color: #333;
  }

  & p{
    margin: 8px 0 0;
    font-size: 13px;
  }
}








.single-container{
  background-color: #F5F5F5;
  min-width: 768px;
}



.step0{
  padding: 24px 40px 64px;
  &__contents{
    max-width: 343px;
    margin: 0 auto;
  }
}

.btn-def {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  margin: 16px 0 0;
  &--mail{
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 16px 0 0;
    color: #fff;
    background-color: #ea352d;
  }
  &--facebook{
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 16px 0 0;
    background: #385185;
    color: #fff;
  }
  &--google{
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 16px 0 0;
    background: #fff;
    border: #979797 solid 1px;
    color: #333;
  }
}
