.main-p {
  margin: 40px auto 0px;
  width: 71%;
  height: 1252px;
  background-color: #fff;
  padding-right: 40px;
  margin-left: 360px;
  .profile-form{
    text-align: center;
    width: 100%;
    height: 200px;
    padding-left: 20px;
    background-position: center;
    background-size: cover;
  .profile-header{
    font-size: 24px;
    padding: 8px 24px;
  }
.profile-name{
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  padding: 8px 24px;
  background-image: image-url("user-bg.jpg");
  height:150px;
}
#user_introduction{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  width: 95%;
  margin-top: 10px;
  height: 200px;
}
.profile-edit__btn{
  background:$Red;
  height: 48px;
  line-height: 48px;
  display: block;
  margin: 16px 0 0;
  color: $White;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: white;
    }
  }
}
.side-content{
  .mypage-nav{
    margin-top: 40px;
    margin-left: 40px;
  }
}
.bottom {
  width: 100vw;
  background-color: brown;

  .image-bottom {
    width: 750px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;

    &__left {

      &--top-text {
        color: $header-icon;
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0px 15px 0px;
      }

      &--bottom-text {
        color: $header-icon;
        font-size: 35px;
        margin-bottom: 20px;
      }

      &--link {
        display: flex;

        .link__mercari {
          height: 68px;
          margin-right: 20px;
          width: 68px;
        }

        .link__apple #appstore {
          height: 40px;
          width: 144px;
          &:hover {
            opacity: 0.8;
          }
        }

        .link__google #googleplay {
          height: 40px;
          width: 130px;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    &__right {
      height: 260px;
      width: 300px;
    }
  }
}
