.main-p {
  margin: 40px auto 0px;
  width: 71%;
  height: 1252px;
  background-color: #fff;
  padding-right: 40px;
  margin-left: 360px;
  .profile-form{
    text-align: center;
    width: 100%;
    height: 200px;
    
    background-position: center;
    background-size: cover;
  

  .profile-header{
    font-size: 24px;
    padding: 8px 24px;
  }

.profile-name{
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  padding: 8px 24px;
  background-image: image-url("user-bg.jpg");
}
#user_introduction{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  margin-top: 10px;
  padding-right: 40px;
  height: 200px;
}

.profile-edit__btn{
  background:$Red;
  height: 48px;
  line-height: 48px;
  display: block;
  margin: 16px 0 0;
  color: $White;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
a{
  text-decoration: none;
  color: white;
}
  }
}
