@import "color";

.mypage_a {
  width: 100%;
  height: 100%;
  background-color: $Background;
}
.mypage-contents.clearfix {
  width: 1020px;
  height: 1252px;
  margin: 40px 210px 0 210px;
  padding: 0 0 40px 0;
  display: block;
  border-style: solid;
  border-width: 0;
}
.main-content {
  width: 700px;
  height: 1211.840px;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  .user {
    width: 660px;
    height: 160px;
    padding: 20px;
    position: relative;
    text-align: center;
    background-image: image-url("user-bg.jpg");
    .user-link {
      position: relative;
      text-align: center;
      margin: 0;
      &__icon {
        border-radius: 150px;
        width: 60px;
        height: 60px;
      }
      &__name {
        font-size: 14px;
        line-height: 1;
        color: #333;
        margin: 8px 0 0;

      }
      &__number {
        font-size: 14px;
        line-height: 1;
        color: #333;
        font-weight: 600;
        margin: 8px 0 0;
      }
    }
  }
}
.notification-todo {
  width: 700px;
  height: 589.844px;
  background-color: $White;
}
.tabs {
  width: 700px;
  height: 74px;
  overflow: hidden;
}
.tabs li {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
  background: #fff;
  width: 50%;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 72px;
  float: left;
  background-color: #eee;
}
.tabs li.select {
  background-color: $White;
}


.tab-content-notification-todo {
  width: 700px;
  height: 515.844px;
}
.tab-content-notification-todo ul {
  .notification-item-list {
    width: 700px;
    min-height: 100%;
    color: #333;
    text-shadow: none;
    display: block;
  }
  .notification-item-link {
    width: 668px;
    min-height: 48px;
    color: #333;
    text-shadow: none;
    padding: 16px;
    display: block;
    position: relative;
    &__logo {
      width: 48px;
      height: 48px;
      position: absolute;
    }
    &__body {
      margin: 0 40px 0 68px;
      width: 560px;
      float: right;
      padding: 0;
      position: absolute;
      min-height: 38px;
      &--text {
        width: 560px;
        min-height: 21px;
        font-size: 14px;
      }
      .icon-time {
        width: 16px;
        height: 17.42;
      }
    }
    .icon-arrow-right {
      width: 8.59px;
      height: 14px;
      float: right;
      position: 45.703 16 31.719 675.406px;
    }
  }
  .mypage-go-list {
    width: 668px;
    height: 56px;
    padding: 16px;
    position: relative;
    .go {
    text-align: center;
    width: 668px;
    height: 56px;
    background: #eee;
    position:absolute;
    line-height: 56px;
    display: block;
    text-decoration: none;
    color: #333;
    }
  }
}
.hide {display: none;}

.transaction-hisory {
  width: 700px;
  height: 382px;
  margin: 40px 0 0 0;
  background-color: $White;
  .header {
    width: 668px;
    height: 72px;
    padding: 0 16px;
    color: #333;
    background-color: #fafafa;
    line-height: 72px;
    display: block;
    font-weight: bold;
  }
  .transaction-tabs {
    width: 700px;
    height: 74px;
    list-style: none;
    overflow: hidden;
  }
  .transaction-tabs li {
    width: 50%;
    height: 74px;
    float: left;
    display: inline-block;
    text-align: center;
    line-height: 74px;
    background: #eee;
  }
  .transaction-tabs li.select {
    background: $White;
  }

  .tab-content-transaction {
    width: 700px;
    height: 236px;
    position: relative;
    
    li.tab-content-transaction__now--not-found.bold {
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      padding: 160px 0 60px;
      background-image: image-url("logo-gray-icon.svg");
      text-align: center;
      font-size: 16px;
      color: #ccc;
      position: relative;
    }
    .transaction-item-link {
      width: 668px;
      min-height: 48px;
      color: #333;
      text-shadow: none;
      padding: 16px;
      display: block;
      position: relative;
      &__logo {
        width: 48px;
        height: 48px;
        position: absolute;
      }
      &__body {
        margin: 0 40px 0 68px;
        width: 560px;
        float: right;
        padding: 0;
        position: absolute;
        min-height: 38px;
        &--text {
          width: 560px;
          min-height: 21px;
          font-size: 14px;
        }
        .icon-time {
          width: 16px;
          height: 17.42;
        }
      }
      .icon-arrow-right {
        width: 8.59px;
        height: 14px;
        float: right;
        position: 45.703 16 31.719 675.406px;
      }
    }
    .mypage-go-list {
      width: 668px;
      height: 56px;
      padding: 16px;
      position: relative;
      .go {
      text-align: center;
      width: 668px;
      height: 56px;
      background: #eee;
      position:absolute;
      line-height: 56px;
      display: block;
      text-decoration: none;
      color: #333;
      }
    }
  }
}

    .side-content {
      width: 280px;
      height: 1252px;
      margin: 0 40px 0 0;
      float: left;
      display: block;
      padding: 0;
      .mypage-nav {
        width: 280px;
        height: 1252px;
        .mypage-nav-list {
          width: 280px;
          height: 685px;
          list-style-type : none;
          padding:5px 10px;
          border-bottom:1px solid $Background;
          
          .mypage-nav-list-item {
            width: 248px;
            position: relative;
            display: block;
            background: #fff;
            font-size: 14px;
            color: #333;
            box-sizing: inherit;
            padding: 16px;
            line-height: 14px;
            text-decoration: none;
            .icon-arrow-right {
              width: 8.594px;
              height: 14px;
            }
          }
        }
        .mypage-nav-head-merpay {
          width: 280px;
          color: #333;
          margin: 40px 0 0;
          font-size: 16px;
        }
        .mypage-nav-list-merpay {
          width: 280px;
          height: 97px;
          .mypage-nav-list-merpay-item {
            width: 248px;
            height: 16px;
            position: relative;
            display: block;
            padding: 16px;
            background: #fff;
            font-size: 14px;              
            color: #333;
            line-height: 14px;
            text-decoration: none;
          }                        
        } 
        .mypage-nav-head-setting {
          width: 280px;
          color: #333;
          margin: 40px 0 0;
          font-size: 16px;
        }
        .mypage-nav-list-setting {
          width: 280px;
          height: 342px;
          .mypage-nav-list-setting-item {
            width: 248px;
            height: 16px;
            position: relative;
            display: block;
            padding: 16px;
            background: #fff;
            font-size: 14px;              
            color: #333;
            line-height: 14px;
            text-decoration: none;
          }                        
        }        
      }     
    }

  .clearfix:after {
    content: "";
    clear: both;
    display: block;
  }

