
-if user_signed_in?
  =render "home/header_login"
-else
  =render "home/header_unlogin"

=render "users/mypage_side"
.mypage_a  
  %main.mypage-contents.clearfix
    .main-content
      .payment
        .payment-content
          .payment-content__title
            %h1.payment-header 購入が完了しました
          .logout-content
          =link_to root_path, class:"btn-default btn-red" do
            トップページへ戻る
=render "home/footer"
